body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-item {
  flex-basis: 30%;
  margin: 1%;
  height: 100px;
  border: 1px solid black;
}

.X, .O {
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
}

p {
  flex-basis: 95%;
}

.button {
  display: block;
  flex-basis: 25%;
  height: 50px;
  font-size: 1.3rem;
  background-color: lightgray;
  border: 1px solid black;
}